html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

.heading-secondary {
  position: relative;
}

.heading-secondary::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 10%;
  height: 5px;
  background-color: var(--bs-warning);
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.collage {
  transition: transform 0.2s;
}

@media only screen and (hover: hover) {
  .collage:hover {
    transform: scale(1.1) rotate(-3deg);
  }
}

.collage img {
  object-position: center;
  object-fit: cover;
}

.section-games {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes scaleBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.square {
  height: 30px;
  width: 30px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
}

.square-1 {
  animation-name: scaleBox;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.square-2 {
  animation-name: scaleBox;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}

.square-3 {
  animation-name: scaleBox;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

.square-4 {
  animation-name: scaleBox;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.item {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

@media only screen and (hover: hover) {
  .item:hover {
    transform: scale(1.1) translateY(-1rem) rotate(-3deg);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
  }
}

.bg-1 {
  background-color: #a61e4d;
  color: #fff0f6;
}

.bg-2 {
  background-color: #862e9c;
  color: #f8f0fc;
}

.bg-3 {
  background-color: #e67700;
  color: #fff9db;
}

.bg-4 {
  background-color: #2b8a3e;
  color: #ebfbee;
}

.bg-5 {
  background-color: #c92a2a;
  color: #fff5f5;
}

@media only screen and (hover: hover) {
  .game-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .game-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
